<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cek Cuaca dan Aktivitas Olahraga</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Cek Cuaca</a></li>
                <li><a href="aktivitas_olahraga.html">Aktivitas Olahraga</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="cuaca">
            <h2 class="text_center">Cek Cuaca</h2>
            <div id="clock" class="text_center"></div>
            <input type="text" id="locationInput" placeholder="Enter a city">
            <button id="searchButton">Search</button>
            <div class="weather-info">
                <h2 id="location"></h2>
                <p id="temperature"></p>
                <p id="description"></p>
            </div>
            <div class="hourly-forecast text_center">
                <h3>Hourly Forecast</h3>
                <div id="hourlyForecast"></div>
            </div>
            <div class="error kesalahan">City not found. Please try again.</div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.js"></script>
</body>
</html>